.section4 {
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
    width: 100%;
    text-align: center;
}

.container-section4 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #22a0a0;
}
.txt-section4 h1{
    color:  white;
    font-size: 25px;
    line-height: 15px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 32px;
}
.img-monitoramento {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.img1 h3 {
    color:white;
    font-weight: 200;
}
.img1 img {
    border-radius: 4px;
}
